app/src/META-INF/wsdl/localhost_8080/PDMS/PDMSWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://pdms.me.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://pdms.me.org/" name="PDMSWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://pdms.me.org/" schemaLocation="http://localhost:8080/PDMS/PDMSWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="changePassword">
<part name="parameters" element="tns:changePassword"/>
</message>
<message name="changePasswordResponse">
<part name="parameters" element="tns:changePasswordResponse"/>
</message>
<message name="getUserName">
<part name="parameters" element="tns:getUserName"/>
</message>
<message name="getUserNameResponse">
<part name="parameters" element="tns:getUserNameResponse"/>
</message>
<message name="logIn">
<part name="parameters" element="tns:logIn"/>
</message>
<message name="logInResponse">
<part name="parameters" element="tns:logInResponse"/>
</message>
<message name="getUser">
<part name="parameters" element="tns:getUser"/>
</message>
<message name="getUserResponse">
<part name="parameters" element="tns:getUserResponse"/>
</message>
<message name="createElection">
<part name="parameters" element="tns:createElection"/>
</message>
<message name="createElectionResponse">
<part name="parameters" element="tns:createElectionResponse"/>
</message>
<message name="registerUser">
<part name="parameters" element="tns:registerUser"/>
</message>
<message name="registerUserResponse">
<part name="parameters" element="tns:registerUserResponse"/>
</message>
<message name="getAllCandidates">
<part name="parameters" element="tns:getAllCandidates"/>
</message>
<message name="getAllCandidatesResponse">
<part name="parameters" element="tns:getAllCandidatesResponse"/>
</message>
<message name="getUserByID">
<part name="parameters" element="tns:getUserByID"/>
</message>
<message name="getUserByIDResponse">
<part name="parameters" element="tns:getUserByIDResponse"/>
</message>
<message name="getAllUsers">
<part name="parameters" element="tns:getAllUsers"/>
</message>
<message name="getAllUsersResponse">
<part name="parameters" element="tns:getAllUsersResponse"/>
</message>
<message name="getAllVoters">
<part name="parameters" element="tns:getAllVoters"/>
</message>
<message name="getAllVotersResponse">
<part name="parameters" element="tns:getAllVotersResponse"/>
</message>
<message name="getUserType">
<part name="parameters" element="tns:getUserType"/>
</message>
<message name="getUserTypeResponse">
<part name="parameters" element="tns:getUserTypeResponse"/>
</message>
<portType name="PDMSWebService">
<operation name="changePassword">
<input wsam:Action="http://pdms.me.org/PDMSWebService/changePasswordRequest" message="tns:changePassword"/>
<output wsam:Action="http://pdms.me.org/PDMSWebService/changePasswordResponse" message="tns:changePasswordResponse"/>
</operation>
<operation name="getUserName">
<input wsam:Action="http://pdms.me.org/PDMSWebService/getUserNameRequest" message="tns:getUserName"/>
<output wsam:Action="http://pdms.me.org/PDMSWebService/getUserNameResponse" message="tns:getUserNameResponse"/>
</operation>
<operation name="logIn">
<input wsam:Action="http://pdms.me.org/PDMSWebService/logInRequest" message="tns:logIn"/>
<output wsam:Action="http://pdms.me.org/PDMSWebService/logInResponse" message="tns:logInResponse"/>
</operation>
<operation name="getUser">
<input wsam:Action="http://pdms.me.org/PDMSWebService/getUserRequest" message="tns:getUser"/>
<output wsam:Action="http://pdms.me.org/PDMSWebService/getUserResponse" message="tns:getUserResponse"/>
</operation>
<operation name="createElection">
<input wsam:Action="http://pdms.me.org/PDMSWebService/createElectionRequest" message="tns:createElection"/>
<output wsam:Action="http://pdms.me.org/PDMSWebService/createElectionResponse" message="tns:createElectionResponse"/>
</operation>
<operation name="registerUser">
<input wsam:Action="http://pdms.me.org/PDMSWebService/registerUserRequest" message="tns:registerUser"/>
<output wsam:Action="http://pdms.me.org/PDMSWebService/registerUserResponse" message="tns:registerUserResponse"/>
</operation>
<operation name="getAllCandidates">
<input wsam:Action="http://pdms.me.org/PDMSWebService/getAllCandidatesRequest" message="tns:getAllCandidates"/>
<output wsam:Action="http://pdms.me.org/PDMSWebService/getAllCandidatesResponse" message="tns:getAllCandidatesResponse"/>
</operation>
<operation name="getUserByID">
<input wsam:Action="http://pdms.me.org/PDMSWebService/getUserByIDRequest" message="tns:getUserByID"/>
<output wsam:Action="http://pdms.me.org/PDMSWebService/getUserByIDResponse" message="tns:getUserByIDResponse"/>
</operation>
<operation name="getAllUsers">
<input wsam:Action="http://pdms.me.org/PDMSWebService/getAllUsersRequest" message="tns:getAllUsers"/>
<output wsam:Action="http://pdms.me.org/PDMSWebService/getAllUsersResponse" message="tns:getAllUsersResponse"/>
</operation>
<operation name="getAllVoters">
<input wsam:Action="http://pdms.me.org/PDMSWebService/getAllVotersRequest" message="tns:getAllVoters"/>
<output wsam:Action="http://pdms.me.org/PDMSWebService/getAllVotersResponse" message="tns:getAllVotersResponse"/>
</operation>
<operation name="getUserType">
<input wsam:Action="http://pdms.me.org/PDMSWebService/getUserTypeRequest" message="tns:getUserType"/>
<output wsam:Action="http://pdms.me.org/PDMSWebService/getUserTypeResponse" message="tns:getUserTypeResponse"/>
</operation>
</portType>
<binding name="PDMSWebServicePortBinding" type="tns:PDMSWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="changePassword">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUserName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="logIn">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createElection">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registerUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllCandidates">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUserByID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllUsers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllVoters">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUserType">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="PDMSWebService">
<port name="PDMSWebServicePort" binding="tns:PDMSWebServicePortBinding">
<soap:address location="http://localhost:8080/PDMS/PDMSWebService"/>
</port>
</service>
</definitions>