app/src/META-INF/wsdl/localhost_20055/PDMS/PDMSWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://pdms.me.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://pdms.me.org/">

<xs:element name="assignSiteManager" type="tns:assignSiteManager"/>

<xs:element name="assignSiteManagerResponse" type="tns:assignSiteManagerResponse"/>

<xs:element name="assignWorker" type="tns:assignWorker"/>

<xs:element name="assignWorkerResponse" type="tns:assignWorkerResponse"/>

<xs:element name="changePassword" type="tns:changePassword"/>

<xs:element name="changePasswordResponse" type="tns:changePasswordResponse"/>

<xs:element name="createMessage" type="tns:createMessage"/>

<xs:element name="createMessageResponse" type="tns:createMessageResponse"/>

<xs:element name="createOrder" type="tns:createOrder"/>

<xs:element name="createOrderResponse" type="tns:createOrderResponse"/>

<xs:element name="createService" type="tns:createService"/>

<xs:element name="createServiceResponse" type="tns:createServiceResponse"/>

<xs:element name="createStage" type="tns:createStage"/>

<xs:element name="createStageResponse" type="tns:createStageResponse"/>

<xs:element name="deliverOrder" type="tns:deliverOrder"/>

<xs:element name="deliverOrderResponse" type="tns:deliverOrderResponse"/>

<xs:element name="discardNotification" type="tns:discardNotification"/>

<xs:element name="discardNotificationResponse" type="tns:discardNotificationResponse"/>

<xs:element name="finishStage" type="tns:finishStage"/>

<xs:element name="finishStageResponse" type="tns:finishStageResponse"/>

<xs:element name="getAllMessages" type="tns:getAllMessages"/>

<xs:element name="getAllMessagesResponse" type="tns:getAllMessagesResponse"/>

<xs:element name="getAllNotifications" type="tns:getAllNotifications"/>

<xs:element name="getAllNotificationsResponse" type="tns:getAllNotificationsResponse"/>

<xs:element name="getAllOrders" type="tns:getAllOrders"/>

<xs:element name="getAllOrdersResponse" type="tns:getAllOrdersResponse"/>

<xs:element name="getAllServices" type="tns:getAllServices"/>

<xs:element name="getAllServicesResponse" type="tns:getAllServicesResponse"/>

<xs:element name="getAllSiteManagers" type="tns:getAllSiteManagers"/>

<xs:element name="getAllSiteManagersResponse" type="tns:getAllSiteManagersResponse"/>

<xs:element name="getAllStages" type="tns:getAllStages"/>

<xs:element name="getAllStagesResponse" type="tns:getAllStagesResponse"/>

<xs:element name="getAllSuppliers" type="tns:getAllSuppliers"/>

<xs:element name="getAllSuppliersResponse" type="tns:getAllSuppliersResponse"/>

<xs:element name="getAllUsers" type="tns:getAllUsers"/>

<xs:element name="getAllUsersResponse" type="tns:getAllUsersResponse"/>

<xs:element name="getMessagesOfStage" type="tns:getMessagesOfStage"/>

<xs:element name="getMessagesOfStageResponse" type="tns:getMessagesOfStageResponse"/>

<xs:element name="getNotificationsOfUser" type="tns:getNotificationsOfUser"/>

<xs:element name="getNotificationsOfUserResponse" type="tns:getNotificationsOfUserResponse"/>

<xs:element name="getOrder" type="tns:getOrder"/>

<xs:element name="getOrderResponse" type="tns:getOrderResponse"/>

<xs:element name="getOrdersByStage" type="tns:getOrdersByStage"/>

<xs:element name="getOrdersByStageResponse" type="tns:getOrdersByStageResponse"/>

<xs:element name="getOrdersBySupplier" type="tns:getOrdersBySupplier"/>

<xs:element name="getOrdersBySupplierResponse" type="tns:getOrdersBySupplierResponse"/>

<xs:element name="getService" type="tns:getService"/>

<xs:element name="getServiceResponse" type="tns:getServiceResponse"/>

<xs:element name="getServicesOfUser" type="tns:getServicesOfUser"/>

<xs:element name="getServicesOfUserResponse" type="tns:getServicesOfUserResponse"/>

<xs:element name="getStage" type="tns:getStage"/>

<xs:element name="getStageResponse" type="tns:getStageResponse"/>

<xs:element name="getUnseenNotificationsOfUser" type="tns:getUnseenNotificationsOfUser"/>

<xs:element name="getUnseenNotificationsOfUserResponse" type="tns:getUnseenNotificationsOfUserResponse"/>

<xs:element name="getUser" type="tns:getUser"/>

<xs:element name="getUserByID" type="tns:getUserByID"/>

<xs:element name="getUserByIDResponse" type="tns:getUserByIDResponse"/>

<xs:element name="getUserResponse" type="tns:getUserResponse"/>

<xs:element name="logIn" type="tns:logIn"/>

<xs:element name="logInResponse" type="tns:logInResponse"/>

<xs:element name="registerUser" type="tns:registerUser"/>

<xs:element name="registerUserResponse" type="tns:registerUserResponse"/>

<xs:complexType name="deliverOrder">
<xs:sequence>
<xs:element name="orderID" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deliverOrderResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllNotifications">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllNotificationsResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createStage">
<xs:sequence>
<xs:element name="serviceID" type="xs:int"/>
<xs:element name="name" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createStageResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getOrdersBySupplier">
<xs:sequence>
<xs:element name="supplierID" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getOrdersBySupplierResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllOrders">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllOrdersResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createOrder">
<xs:sequence>
<xs:element name="request" type="xs:string" minOccurs="0"/>
<xs:element name="stageID" type="xs:int"/>
<xs:element name="userID" type="xs:int"/>
<xs:element name="supplierID" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createOrderResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllServices">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllServicesResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUser">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUserResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="finishStage">
<xs:sequence>
<xs:element name="stageID" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="finishStageResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="assignWorker">
<xs:sequence>
<xs:element name="stageID" type="xs:int"/>
<xs:element name="workerID" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="assignWorkerResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="discardNotification">
<xs:sequence>
<xs:element name="notificationID" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="discardNotificationResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUnseenNotificationsOfUser">
<xs:sequence>
<xs:element name="userID" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUnseenNotificationsOfUserResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getOrdersByStage">
<xs:sequence>
<xs:element name="stageID" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getOrdersByStageResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getNotificationsOfUser">
<xs:sequence>
<xs:element name="userID" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getNotificationsOfUserResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getServicesOfUser">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getServicesOfUserResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getService">
<xs:sequence>
<xs:element name="serviceID" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getServiceResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="changePassword">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="newPassword" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="changePasswordResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="assignSiteManager">
<xs:sequence>
<xs:element name="serviceID" type="xs:int"/>
<xs:element name="siteManagerID" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="assignSiteManagerResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="logIn">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="logInResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllStages">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllStagesResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUserByID">
<xs:sequence>
<xs:element name="userID" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUserByIDResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getStage">
<xs:sequence>
<xs:element name="stageID" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getStageResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllUsers">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllUsersResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllSiteManagers">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllSiteManagersResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registerUser">
<xs:sequence>
<xs:element name="type" type="xs:int"/>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="birthdate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="phone" type="xs:string" minOccurs="0"/>
<xs:element name="qualifications" type="xs:string" minOccurs="0"/>
<xs:element name="materials" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registerUserResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createMessage">
<xs:sequence>
<xs:element name="stageID" type="xs:int"/>
<xs:element name="userID" type="xs:int"/>
<xs:element name="text" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createMessageResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllSuppliers">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllSuppliersResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createService">
<xs:sequence>
<xs:element name="clientID" type="xs:int"/>
<xs:element name="type" type="xs:int"/>
<xs:element name="startDate" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createServiceResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getMessagesOfStage">
<xs:sequence>
<xs:element name="stageID" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getMessagesOfStageResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllMessages">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllMessagesResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getOrder">
<xs:sequence>
<xs:element name="orderID" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getOrderResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>